@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import './fonts.scss';

.ccard {
  padding: 2rem;
  position: relative;
  padding-bottom: 5rem;
}

.ccard > h1 {
  font-family: "Big Shoulders Display", cursive;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ccard > p {
  font-family: "Lexend Deca", sans-serif;
}

button {
  color: $very-light-grey;
  background: $very-light-grey;
  border: 2px solid $very-light-grey !important;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  border:none;
  cursor:pointer;
  border: 2px solid transparent;
  position: absolute;
  bottom: 1.5rem;
}

// Desktop
@media screen and (min-width:768px) {
  $corner-size:10px;
  .ccard:first-of-type {
    border-top-left-radius: $corner-size;
    border-bottom-left-radius: $corner-size;
  }
  .ccard:last-of-type {
    border-top-right-radius: $corner-size;
    border-bottom-right-radius: $corner-size;
  }
}

// Mobile
@media screen and (max-width:769px) {
  $corner-size:10px;
  .ccard:first-of-type {
    border-top-left-radius: $corner-size;
    border-top-right-radius: $corner-size;
  }
  .ccard:last-of-type {
    border-bottom-left-radius: $corner-size;
    border-bottom-right-radius: $corner-size;
  }
}